<!-- 
                class="select2-match"></span>Panicker</div>
                class="select2-match"></span>Pannirandam Chettiar</div>
                class="select2-match"></span>Paravan / Bharatar</div>
                class="select2-match"></span>Parit</div>
                class="select2-match"></span>Parkavakulam / Udayar</div>
                class="select2-match"></span>Parsi</div>
                class="select2-match"></span>Partraj</div>
                class="select2-match"></span>Parvatha Rajakulam</div>
                class="select2-match"></span>Pasi</div>
                class="select2-match"></span>Paswan </div>
                class="select2-match"></span>Paswan / Dusadh</div>
                class="select2-match"></span>Patel</div>
                class="select2-match"></span>Pathare Prabhu</div>
                class="select2-match"></span>Patil</div>
                class="select2-match"></span>Patnaick/Sistakaranam</div>
                class="select2-match"></span>Patra</div>
                class="select2-match"></span>Pattinavar</div>
                class="select2-match"></span>Pattusali</div>
                class="select2-match"></span>Patwa</div>
                class="select2-match"></span>Perika</div>
                class="select2-match"></span>Perika/Puragiri Kshatriya</div>
                class="select2-match"></span>Pillai</div>
                class="select2-match"></span>Poddar</div>
                class="select2-match"></span>Poosala</div>
                class="select2-match"></span>Porwal</div>
                class="select2-match"></span>Porwal / Porwar</div>
                class="select2-match"></span>Poundra</div>
                class="select2-match"></span>Prajapati</div>
                class="select2-match"></span>Pulaya / Cheruman</div>
                class="select2-match"></span>Pushkarna Brahmin </div>
                class="select2-match"></span>Rabari</div>
                class="select2-match"></span>Radhi / Niari</div>
                class="select2-match"></span>Raigar</div>
                class="select2-match"></span>Rajaka / Vannar</div>
                class="select2-match"></span>Rajastani</div>
                class="select2-match"></span>Rajbhar</div>
                class="select2-match"></span>Rajbonshi</div>
                class="select2-match"></span>Rajpurohit</div>
                class="select2-match"></span>Rajput</div>
                class="select2-match"></span>Raju / Kshatriya Raju</div>
                class="select2-match"></span>Ramanandi</div>
                class="select2-match"></span>Ramdasia</div>
                class="select2-match"></span>Ramgariah</div>
                class="select2-match"></span>Ramoshi</div>
                class="select2-match"></span>Rarhi Brahmin </div>
                class="select2-match"></span>Rastogi</div>
                class="select2-match"></span>Rathi</div>
                class="select2-match"></span>Rauniar</div>
                class="select2-match"></span>Ravana Rajput</div>
                class="select2-match"></span>Ravidasia</div>
                class="select2-match"></span>Rawat</div>
                class="select2-match"></span>Reddy</div>
                class="select2-match"></span>Relli</div>
                class="select2-match"></span>Rigvedi Brahmin </div>
                class="select2-match"></span>Rohiri Sindhi </div>
                class="select2-match"></span>Rohit / Chamar</div>
                class="select2-match"></span>Ror</div>
                class="select2-match"></span>Rudraj Brahmin </div>
                class="select2-match"></span>SC</div>
                class="select2-match"></span>SKP</div>
                class="select2-match"></span>ST</div>
                class="select2-match"></span>Sadgope</div>
                class="select2-match"></span>Sadhu Chetty</div>
                class="select2-match"></span>Sagara (Uppara)</div>
                class="select2-match"></span>Saha</div>
                class="select2-match"></span>Sahariya</div>
                class="select2-match"></span>Sahiti Sindhi </div>
                class="select2-match"></span>Sahu</div>
                class="select2-match"></span>Saini</div>
                class="select2-match"></span>Saiva Pillai Thanjavur</div>
                class="select2-match"></span>Saiva Pillai Tirunelveli</div>
                class="select2-match"></span>Saiva Vellan chettiar</div>
                class="select2-match"></span>Sakaldwipi Brahmin </div>
                class="select2-match"></span>Sakkhar Sindhi </div>
                class="select2-match"></span>Saliya</div>
                class="select2-match"></span>Saliyar</div>
                class="select2-match"></span>Salvi</div>
                class="select2-match"></span>Samagar</div>
                class="select2-match"></span>Sambava</div>
                class="select2-match"></span>Sanadya Brahmin </div>
                class="select2-match"></span>Sanketi Brahmin </div>
                class="select2-match"></span>Sansi</div>
                class="select2-match"></span>Saraswat Brahmin </div>
                class="select2-match"></span>Sargara</div>
                class="select2-match"></span>Saryuparin Brahmin </div>
                class="select2-match"></span>Sathwara</div>
                class="select2-match"></span>Satnami</div>
                class="select2-match"></span>Savji</div>
                class="select2-match"></span>Sehwani Sindhi </div>
                class="select2-match"></span>Senai Thalaivar</div>
                class="select2-match"></span>Senguntha Mudaliyar</div>
                class="select2-match"></span>Sengunthar/Kaikolar</div>
                class="select2-match"></span>Settibalija</div>
                class="select2-match"></span>Setty Balija</div>
                class="select2-match"></span>Shah</div>
                class="select2-match"></span>Shaw / Sahu/Teli</div>
                class="select2-match"></span>Shettigar</div>
                class="select2-match"></span>Shetty </div>
                class="select2-match"></span>Shikarpuri Sindhi </div>
                class="select2-match"></span>Shilpkar</div>
                class="select2-match"></span>Shimpi/Namdev</div>
                class="select2-match"></span>Shivhalli Brahmin </div>
                class="select2-match"></span>Shrimali Brahmin </div>
                class="select2-match"></span>Sikhwal Brahmin </div>
                class="select2-match"></span>Sindhi</div>
                class="select2-match"></span>Sindhi-Amil</div>
                class="select2-match"></span>Sindhi-Baibhand</div>
                class="select2-match"></span>Sindhi-Bhanusali</div>
                class="select2-match"></span>Sindhi-Bhatia</div>
                class="select2-match"></span>Sindhi-Chhapru</div>
                class="select2-match"></span>Sindhi-Dadu</div>
                class="select2-match"></span>Sindhi-Hyderabadi</div>
                class="select2-match"></span>Sindhi-Larai</div>
                class="select2-match"></span>Sindhi-Larkana</div>
                class="select2-match"></span>Sindhi-Lohana</div>
                class="select2-match"></span>Sindhi-Rohiri</div>
                class="select2-match"></span>Sindhi-Sahiti</div>
                class="select2-match"></span>Sindhi-Sakkhar</div>
                class="select2-match"></span>Sindhi-Sehwani</div>
                class="select2-match"></span>Sindhi-Shikarpuri</div>
                class="select2-match"></span>Sindhi-Thatai</div>
                class="select2-match"></span>Sirvi / Janwa</div>
                class="select2-match"></span>Smartha Brahmin </div>
                class="select2-match"></span>Sonar</div>
                class="select2-match"></span>Sondhia</div>
                class="select2-match"></span>Soni</div>
                class="select2-match"></span>Sonkar</div>
                class="select2-match"></span>Sourashtra</div>
                class="select2-match"></span>Sozhia Chetty</div>
                class="select2-match"></span>Sozhiya Vellalar</div>
                class="select2-match"></span>Sri Vaishnava Brahmin </div>
                class="select2-match"></span>Srisayana</div>
                class="select2-match"></span>Stanika Brahmin </div>
                class="select2-match"></span>Sugali (Naika)</div>
                class="select2-match"></span>Sundhi</div>
                class="select2-match"></span>Surya Balija</div>
                class="select2-match"></span>Suthar</div>
                class="select2-match"></span>Swakula Saali</div>
                class="select2-match"></span>Swakula Sali</div>
                class="select2-match"></span>Swarnakar</div>
                class="select2-match"></span>Tamboli</div>
                class="select2-match"></span>Tammali</div>
                class="select2-match"></span>Tanti</div>
                class="select2-match"></span>Tantubai</div>
                class="select2-match"></span>Telaga</div>
                class="select2-match"></span>Teli</div>
                class="select2-match"></span>Telugupatti</div>
                class="select2-match"></span>Thakkar</div>
                class="select2-match"></span>Thakore</div>
                class="select2-match"></span>Thakur</div>
                class="select2-match"></span>Thandan</div>
                class="select2-match"></span>Tharakan</div>
                class="select2-match"></span>Thatai Sindhi </div>
                class="select2-match"></span>Thigala</div>
                class="select2-match"></span>Thiyya</div>
                class="select2-match"></span>Thiyya Thandan</div>
                class="select2-match"></span>Thogata Veera Kshatriya</div>
                class="select2-match"></span>Thogata Veerakshathriya</div>
                class="select2-match"></span>Thondai Mandala Vellalar</div>
                class="select2-match"></span>Thota</div>
                class="select2-match"></span>Tili</div>
                class="select2-match"></span>Tiyar/Tiar</div>
                class="select2-match"></span>Togata</div>
                class="select2-match"></span>Tonk Kshatriya</div>
                class="select2-match"></span>Turupu Kapu</div>
                class="select2-match"></span>Tyagi Brahmin </div>
                class="select2-match"></span>Ummar / Umre / Bagaria</div>
                class="select2-match"></span>Urali Gounder</div>
                class="select2-match"></span>Urs</div>
                class="select2-match"></span>Vada Balija</div>
                class="select2-match"></span>Vadambar</div>
                class="select2-match"></span>Vadar</div>
                class="select2-match"></span>Vaddera</div>
                class="select2-match"></span>Vadugan</div>
                class="select2-match"></span>Vaidiki Brahmin </div>
                class="select2-match"></span>Vaikhanasa Brahmin </div>
                class="select2-match"></span>Vaish</div>
                class="select2-match"></span>Vaishnav</div>
                class="select2-match"></span>Vaishnav Dishaval</div>
                class="select2-match"></span>Vaishnav Kapol</div>
                class="select2-match"></span>Vaishnav Khadyata</div>
                class="select2-match"></span>Vaishnav Lad</div>
                class="select2-match"></span>Vaishnav Modh</div>
                class="select2-match"></span>Vaishnav Porvad</div>
                class="select2-match"></span>Vaishnav Shrimali</div>
                class="select2-match"></span>Vaishnav Sorathaiya</div>
                class="select2-match"></span>Vaishnav Vania</div>
                class="select2-match"></span>Vaishnava</div>
                class="select2-match"></span>Vaishya</div>
                class="select2-match"></span>Vaishya Vani</div>
                class="select2-match"></span>Valar</div>
                class="select2-match"></span>Valluvan</div>
                class="select2-match"></span>Valmiki</div>
                class="select2-match"></span>Valsad</div>
                class="select2-match"></span>Vani</div>
                class="select2-match"></span>Vani / Vaishya</div>
                class="select2-match"></span>Vania</div>
                class="select2-match"></span>Vanika Vyshya</div>
                class="select2-match"></span>Vaniya</div>
                class="select2-match"></span>Vaniya Chettiar</div>
                class="select2-match"></span>Vanjara</div>
                class="select2-match"></span>Vanjari</div>
                class="select2-match"></span>Vankar</div>
                class="select2-match"></span>Vannar</div>
                class="select2-match"></span>Vannia Kula Kshatriyar</div>
                class="select2-match"></span>Vanyakulakshatriya</div>
                class="select2-match"></span>Variar</div>
                class="select2-match"></span>Varshney</div>
                class="select2-match"></span>Varshney (Barahseni)</div>
                class="select2-match"></span>Veera Saivam</div>
                class="select2-match"></span>Veerakodi Vellala</div>
                class="select2-match"></span>Velaan</div>
                class="select2-match"></span>Velama</div>
                class="select2-match"></span>Velanadu Brahmin </div>
                class="select2-match"></span>Vellala Pillai</div>
                class="select2-match"></span>Vellalar</div>
                class="select2-match"></span>Vellan Chettiars</div>
                class="select2-match"></span>Veluthedathu Nair</div>
                class="select2-match"></span>Vettuva Gounder</div>
                class="select2-match"></span>Vettuvan</div>
                class="select2-match"></span>Vijayvargia</div>
                class="select2-match"></span>Vilakithala Nair</div>
                class="select2-match"></span>Vilakkithala Nair</div>
                class="select2-match"></span>Vishwakarma</div>
                class="select2-match"></span>Viswabrahmin</div>
                class="select2-match"></span>Vokkaliga</div>
                class="select2-match"></span>Vyas Brahmin </div>
                class="select2-match"></span>Vysya</div>
                class="select2-match"></span>Yadav</div>
                class="select2-match"></span>Yadava Naidu</div>
                class="select2-match"></span>Yellapu</div>
                class="select2-match"></span>Others</div>
                class="select2-match"></span>Don't wish to specify</div>
  -->